.test-compare {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid white;
}

.compare-title {
  margin-bottom: 0;
  text-decoration: double var(--color-accent) underline;
  text-align: left;
}

.test-zone {
  display: flex;
  width: 75%;
  justify-content: center;
  align-items: center;
  justify-self: center;
  background-color: var(--test-zone-bg);
  border: 1px solid var(--test-zone-border);
  padding: 20px;
  border-radius: 8px;
  gap: 20px;
  flex-wrap: wrap;
}

.compare-component {
  width: calc((100% - 20px) / 2);
}
