

.nav-buttons {
  display:flex;
  justify-content: space-between;
  a{
    text-decoration: none;
  }
}

.nav-buttons-left, .nav-buttons-right{
  display:flex;
  gap:20px;
}

.breadcrumb-div{
  display: flex;
}
